#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

application:
	mapping:
		*: Palette\DemoApp\*Module\Presenters\*Presenter

extensions:
	palette: NettePalette\PaletteExtension

palette:
	websiteUrl: 'http://127.0.0.1'
	path: %paletteThumbsDir%
	url: %paletteThumbsUrl%
	basepath: '/var/www/html/demo/www/'
	signingKey: 'HOfU2RTxbimmaYmAnrQ1'
	webpMacroDefaultQuality: 80
	fallbackImage: '/var/www/html/demo/www/images/default/default.jpg'
	fallbackImages:
		default1: '/var/www/html/demo/www/images/default/default-1.jpg'
		default2: '/var/www/html/demo/www/images/default/default-2.jpg'
		default3: '/var/www/html/demo/www/images/default/default-3.jpg'

session:
	expiration: 14 days

services:
	router: Palette\DemoApp\RouterFactory::createRouter
